.banner {
  width: 1200px;
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color: #00c385;
  margin-left: 200px;
}

.welcomeText {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-left: 70px;
  margin-bottom: 20px;

}

.findYourMerch {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-left: 70px;
  margin-bottom: 20px;
}

.allKindOfGoodies {
  color: white;
  font-size: 18px;
  margin-left: 70px;
}

.heroImg {
  height: 200px;
  width: 300px;
  margin-left: 900px;
  margin-top: 40px;
}