.banner         {
  /* width: 900px;
  height: 400px;
  display: flex;
  flex-direction: column; */
  background-color: hsl(161, 100%, 38%);
  margin-left: 200px;
  width: 1200px;
  /* max-width: 100vw; */
  height: 350px;
}

.welcomeText    {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-left: 70px;
  margin-bottom: 20px;

}

.findYourMerch   {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-left: 70px;
  margin-bottom: 20px;
}

.allKindOfGoodies {
  color: white;
  font-size: 18px;
  margin-left: 70px;
  /* white-space: pre-line; */
  word-wrap: break-word;
}

.heroImg          {
  height: 200px;
  width: 300px;
  margin-left: 900px;
  margin-bottom: 300px;
}