.categoriesBtn {
        display: flex;
        justify-content: center; 
        margin: 0 10px; 
        text-decoration: none;
        color: #000; 
      } 
      .categoriesBtn {
        display: flex;
        justify-content: center; 
      }
      .categoriesBtn ul {
        list-style: none;
        display: flex;
        padding: 0;
      }
      
      .categoriesBtn li {
        margin-left: 10px;
        margin-top: 20px; 
      }
      
      
      