.codePathImage {
    margin-left: 900px;

}

.aboutBody {
    justify-content: center;

}

.About {
    position: relative;
}

.aboutBody {
    position: absolute;
    top: 0;
    left: 0;
    margin: 70px;
    margin-right: 700px;
}

.AboutLetter {
    margin-left: 70px;
}